# ---------- Airflow basics ----------
AIRFLOW_UID=<insert_uid>
AIRFLOW_GID=<insert_gid>
_AIRFLOW_WWW_USER_CREATE=<insert_string>
_AIRFLOW_WWW_USER_USERNAME=<insert_string>
_AIRFLOW_WWW_USER_PASSWORD=<insert_string>
_AIRFLOW_WWW_USER_FIRSTNAME=<insert_string>
_AIRFLOW_WWW_USER_LASTNAME=<insert_string>
_AIRFLOW_WWW_USER_EMAIL=<insert_email>

# ---------- Airflow metadata DB ----------
AF_META_DB=<insert_airflow_db_name>
AF_META_USER=<insert_airflow_db_user>
AF_META_PASSWORD=<insert_airflow_db_pass>
AF_META_HOST=<insert_airflow_db_host>
AF_META_PORT=<insert_airflow_db_port>

# ---------- dbt/bronze/silver/gold target DB ----------
PGDATABASE=<insert_dbt_db_name>
PGUSER=<insert_dbt_db_user>
PGPASSWORD=<insert_dbt_db_pass>
PGHOST=<insert_dbt_db_host>
PGPORT=<insert_dbt_db_port>

# ---------- DBT CONFIG ---------- 
DBT_PROFILES_DIR=<insert_dbt_dir>
DBT_TARGET=<insert_string>
DBT_THREADS=<insert_number>

# ---------- SODA CONFIG ---------- 
SODA_API_KEY_NAME=<insert_soda_api_key>
SODA_API_KEY_SECRET=<insert_soda_secret_key>
SODA_ENV=<insert_env>
SODA_STAGINGSCHEMA=<insert_string>
SODA_DWHSCHEMA=<insert_string>
SODA_MARTCSSCHEMA=<insert_string>
SODA_MARTFNSCHEMA=<insert_string>
SODA_MARTLGSCHEMA=<insert_string>
SODA_MARTPDSCHEMA=<insert_string>
SODA_MARTSLSCHEMA=<insert_string>
SODA_RESULT_JSON=/tmp/soda_scan_result.json

# ---------- Slack Webhook Config ----------
SLACK_WEBHOOK_URL=<insert_webhook_link>

#----------- Metabase Account -----------
Email=<insert_your_email>
Password=<insert_string_or_number>