# Airflow providers
apache-airflow-providers-postgres
apache-airflow-providers-redis
apache-airflow-providers-fab
apache-airflow-providers-http
apache-airflow-providers-slack
apache-airflow-providers-docker
apache-airflow-providers-common-sql
pendulum

# Airflow 3.x api-server deps
connexion[flask]==2.14.2
flask-appbuilder>=4.5,<5
Flask-Session>=0.5,<1

# Data generation
Faker==25.0.0
faker-commerce==1.0.3

# dbt (CLI inside Airflow & the dbt-soda)
dbt-core
dbt-postgres
dbt-utils
sqlfluff-templater-dbt

# Soda Core (CLI)
soda-core
soda-core-postgres

# Slack alert/logging
slack-sdk

# Docker operator
gunicorn

# CLI / utils - Data Engineering
numpy
pandas
python-dotenv
psycopg2-binary
requests
redis
SQLAlchemy

# CLI / utils - Dev tools
black
isort
mypy
pytest
pre-commit
prometheus-client
ruff